<div class="most-popular">
    <div class="row">
       
            <div class="col-lg-4 col-sm-6">
              <div class="item">
                <div class="card-header ">
                    <h5 class="text-white card-title">
                        Election : General Elections
                    </h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"> <b>Election Date</b> : <span
                            class="text-primary"> 15-10-2021 </span> </h6>
                    <h6 class="card-subtitle mb-2 text-muted"> <b>Voting Start Time</b> :
                        <span class="text-success">08:00 AM</span>
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Voting End Time</b> : <span
                            class="text-danger">06:00 PM</span> </h6>
                    <hr>
                    <p class="font-weight-normal card-text">Designations :</p>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action"
                        routerLink="/vote">
                            Certified Government Financial Manager </a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                  <div class="card-header ">
                      <h5 class="text-white card-title">
                          Election : General Elections
                      </h5>
                  </div>
                  <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted"> <b>Election Date</b> : <span
                              class="text-primary"> 15-10-2021 </span> </h6>
                      <h6 class="card-subtitle mb-2 text-muted"> <b>Voting Start Time</b> :
                          <span class="text-success">08:00 AM</span>
                      </h6>
                      <h6 class="card-subtitle mb-2 text-muted"><b>Voting End Time</b> : <span
                              class="text-danger">06:00 PM</span> </h6>
                      <hr>
                      <p class="font-weight-normal card-text">Designations :</p>
                      <div class="list-group">
                          <a class="list-group-item list-group-item-action"
                          routerLink="/vote">
                              Certified Government Financial Manager </a>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="item">
                  <div class="card-header ">
                      <h5 class="text-white card-title">
                          Election : General Elections
                      </h5>
                  </div>
                  <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted"> <b>Election Date</b> : <span
                              class="text-primary"> 15-10-2021 </span> </h6>
                      <h6 class="card-subtitle mb-2 text-muted"> <b>Voting Start Time</b> :
                          <span class="text-success">08:00 AM</span>
                      </h6>
                      <h6 class="card-subtitle mb-2 text-muted"><b>Voting End Time</b> : <span
                              class="text-danger">06:00 PM</span> </h6>
                      <hr>
                      <p class="font-weight-normal card-text">Designations :</p>
                      <div class="list-group">
                          <a class="list-group-item list-group-item-action"
                          routerLink="/vote">
                              Certified Government Financial Manager </a>
                      </div>
                  </div>
                </div>
              </div>
           
       
    </div>
  </div> 