<main class="sc-jqUVSM eXTpjp">
  <section class="sc-cTQhss PpAvn">
    <div class="sc-bczRLJ MVcoT">
      <div class="header-content"><img src="http://localhost:3000/uploads/{{item.image}}" class="contestant-image">
        <div class="header-right">
          <h2 class="con-name">{{item.name}}</h2>
          <div class="con-info">Đến từ: <span>{{item.address}}</span></div>
          <div class="con-info">SBD: <span>{{item.id}}</span></div>
          <div class="con-info">Tuổi: <span>{{item.age}}</span></div>
        </div>
      </div>
    </div>
   
  </section>
  <section class="sc-jOrMOR ZHHax">
    <div class="sc-bczRLJ MVcoT">
     
      <div class="story-bottom">
        <h2 class="title">Tự giới thiệu</h2>
        <p>{{item.description}}</p>
      </div>
    </div>
    <button class="sc-breuTD jtisIA vote_dropdown open-modal">Bình chọn ngay</button>
  </section>
</main>