<main class="sc-jqUVSM eXTpjp">
  <section class="sc-cTQhss PpAvn">
    <div class="sc-bczRLJ MVcoT text-center">
      <div class="header-content">
        <img src="http://localhost:3000/uploads/{{item.image}}" class="contestant-image" width= 100%>
        <div class="header-right">
          <h2 class="con-name">{{item.name}}</h2>
          <div class="con-info">Đến từ: <span>{{item.address}}</span></div>
          <div class="con-info">SBD: <span>{{item.id}}</span></div>
          <div class="con-info">Tuổi: <span>{{item.age}}</span></div>
        </div>
      </div>
      <div class="story-bottom">
        <h2 class="title">Tự thông tin trên</h2>
        <p>Giới thiệu : {{item.description}}</p>
        <button class="sc-breuTD jtisIA vote_dropdown open-modal">Bình chọn ngay</button>
      </div>
    </div>
   
  </section>
  
  
     
     
    
    
  
</main>