<div class="b-container">
    <div class="row">
        <div>
            <h3>Giới thiệu qua về BVOTE GAME</h3>
            <p >Là cổng bình chọn của các cuộc thi học sinh và sinh viên, BVOTE GAME luôn
                tự hào mang đến các cuộc thi công bằng minh bạch cho các thí sinh sinh trong cuộc thi.
            </p>
            <p>
              BVOTE GAME được hoạt động dựa trên công nghệ chuỗi khối của Blockchain giúp giải pháp bình chọn của Bvote sở hữu những ưu điểm vượt trội về tính an toàn, bảo mật, đem lại kết quả công khai và minh bạch nhất.Thay vì sử dụng phương thức truyền thống bằng tin nhắn, khán giả sẽ ủng hộ cho thí sinh mình yêu thích nhất thông qua hệ thống bình chọn trên Website.
              Giải pháp này cho phép mọi người theo dõi kết quả liên tục, trực tiếp trên hệ thống, một điều mà các hình thức cũ không làm được.Không chỉ loại bỏ nguy cơ gian lận, 
              BVOTE GAME còn mang đến trải nghiệm bình chọn mới lạ, tiện lợi và dễ sử dụng. Nhất là khi giải pháp bình chọn của BVOTE GAME còn kết hợp cùng các ví điện tử uy tín để đảm bảo mức độ bảo mật cao và giảm thiểu tối đa tình trạng hack VOTE GAME.
    
            </p>
        </div>
       
       <div>
        <h3>Cách Thức bình chọn cho thí sinh</h3>
        <b>Bước 1</b>
        <p> Truy cập website: http://localhost:4200 Đăng nhập tài khoản của bạn vào nếu chưa có xin vui lòng đăng kí tài khoàn</p>
        <b>Bước 2</b>
        <p>Vào mục cuộc thi tìm thí sinh mà bạn muốn vote</p>
        <b>Bước 3</b>
        <p>Sau khi vote xong hệ thống sẽ trừ tiền tài khoản của bạn sau đó lưu trữ kết quả bình chọn của bạn. Lưu ý không giới hạn lần bình chọn và thí sinh bình chọn.</p>
    </div>
    <div>
        <h3>Kết quả cuộc thi</h3>
        <P>Cuộc thi luôn được cập nhật trực tiếp trên website.Khi hết thời gian BVOTE GAME sẽ xác nhận kết quả và trao phần thưởng cho thí sính đạt giải.</P>
    </div>
    <div>
        <h3>BVOTE GAME <p>Bình chọn nhanh nhạy , tin cậy người dùng</p>
        </h3>
        <h4>Nếu bạn có lỗi gì vui lòng liên hệ với chúng tôi qua:</h4>
        <p><b>Địa chỉ : </b>Hoàng Quốc việt, Cầu Giấy, Hà Nội</p> 
        <p><b>Số điện thoại : </b>+84 03286633121</p>
        <p><b>Số điện thoại : </b> demo@gmail.com</p>

    </div>

    </div>
</div>