
<div class="most-popular">
   <div class="row">  
      
    
          <div class="col-lg-4 col-sm-6" *ngFor="let cat of cats">
             <div class="item">
               <div>
                   <h5 class="text-center" >
                    cuộc thi
                       {{cat.name}}
                   </h5>
               </div>
               <div class="card-body">
                   <h6 class="card-subtitle mb-2 text-muted"> <b>Thời gian bắt đầu</b> : <span
                           class="text-primary"> {{cat.start.slice(0, -14)}}
                        </span> </h6>
                   <h6 class="card-subtitle mb-2 text-muted"> <b>Thời gian kết thúc</b> :
                       <span class="text-success">{{cat.end.slice(0, -14)}}</span>
                   </h6>
                   <div class="list-group">
                       <a class="list-group-item list-group-item-action"
                       [routerLink]="['/poll',cat.id]">
                           Xem chi tiết cuộc thi </a>
                   </div>
               </div>
             </div>
           </div>
         
         
   </div>
 </div> 
